In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

# Zadanie

Dysponujesz danymi z portalu Our World in Data dotyczącymi:
- Pierwotnej konsumpcji energii
- Emisji CO2 z poszczególnych lat dla różnych krajów

## Część 1: Plik CSV
Utwórz plik CSV zawierający połączone dane dla Polski:
- konsumpcja energii pierwotnej
- emisja CO2
- dane z poszczególnych lat

## Część 2: Plik Excel
Stwórz plik Excel z osobnymi zakładkami dla każdego kraju:
- UE
- USA
- Chiny
- Indie

Każda zakładka powinna zawierać dane o konsumpcji energii i emisji CO2.

## Część 3: Baza danych SQLite
Utwórz bazę danych SQLite z tabelą zawierającą:
- kraj
- rok
- emisja CO2
- konsumpcja energii

Dane powinny obejmować: Polskę, Niemcy i Hiszpanię.

## Część 4: Analiza i wizualizacja
Na podstawie danych z pliku Excel i bazy SQLite utwórz wykresy:
- emisja CO2 w zależności od roku (dla wybranego kraju)
- konsumpcja energii pierwotnej w zależności od roku (dla wybranego kraju)
- **dla chęnych szukanie koreacji**

In [2]:
df_co2 = pd.read_csv("co2-emissions-per-capita.csv")
df_co2.head()

        Entity  Year  Annual CO₂ emissions (per capita)
0  Afghanistan  1949                           0.001992
1  Afghanistan  1950                           0.010837
2  Afghanistan  1951                           0.011625
3  Afghanistan  1952                           0.011468
4  Afghanistan  1953                           0.013123

In [3]:
df_primary_energy = pd.read_csv("primary-energy-cons.csv")
df_primary_energy.head()

        Entity Code  Year  Primary energy consumption (TWh)
0  Afghanistan  AFG  1980                          6.337187
1  Afghanistan  AFG  1981                          7.289555
2  Afghanistan  AFG  1982                          7.889244
3  Afghanistan  AFG  1983                          9.882159
4  Afghanistan  AFG  1984                          9.929878

In [4]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [5]:
co2_pl = df_co2[df_co2["Entity"] == "Poland"]
energy_pl = df_primary_energy[df_primary_energy["Entity"] == "Poland"]

In [6]:
poland = pd.merge(
    co2_pl,
    energy_pl,
    on="Year",
    how="inner"
)

In [7]:
poland_final = poland[[
    "Year",
    "Annual CO₂ emissions (per capita)",
    "Primary energy consumption (TWh)"
]].rename(columns={
    "Annual CO₂ emissions (per capita)": "co2_per_capita",
    "Primary energy consumption (TWh)": "primary_energy_TWh"
})

In [8]:
poland_final.to_csv("poland_energy_co2.csv", index=False)

In [9]:
countries = {
    "UE": "European Union (27)",
    "USA": "United States",
    "Chiny": "China",
    "Indie": "India"
}

with pd.ExcelWriter("energy_co2.xlsx", engine="openpyxl") as writer:
    for sheet, country in countries.items():
        co2_c = df_co2[df_co2["Entity"] == country]
        energy_c = df_primary_energy[df_primary_energy["Entity"] == country]

        merged = pd.merge(co2_c, energy_c, on="Year", how="inner")

   
        merged_clean = merged[[
            "Year",
            "Annual CO₂ emissions (per capita)",
            "Primary energy consumption (TWh)"
        ]].rename(columns={
            "Annual CO₂ emissions (per capita)": "co2_per_capita",
            "Primary energy consumption (TWh)": "primary_energy_TWh"
        })

        merged_clean.to_excel(writer, sheet_name=sheet, index=False)